body {
  background-color: rgb(247, 245, 242);
  color: rgb(43, 41, 41);
}

#header {
  background-image: url(https://images.pexels.com/photos/2745258/pexels-photo-2745258.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-image: url(https://images.pexels.com/photos/1655166/pexels-photo-1655166.jpeg);
  background-size: cover;
  color: antiquewhite;
}
